:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer,
header {
  padding: 0.5rem 0;
  border-bottom: var(--pico-border-width) solid transparent;
}

small {
  display: block;
  height: calc(var(--pico-line-height) * 1rem);
  margin-bottom: 0;
}

meter {
  appearance: none;
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgb(0 0 0 / 10%);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgb(0 0 0 / 10%);
}

meter[value='1']::-webkit-meter-optimum-value {
  background: red;
}

meter[value='2']::-webkit-meter-optimum-value {
  background: yellow;
}

meter[value='3']::-webkit-meter-optimum-value {
  background: orange;
}

meter[value='4']::-webkit-meter-optimum-value {
  background: green;
}

meter[value='1']::-moz-meter-bar {
  background: red;
}

meter[value='2']::-moz-meter-bar {
  background: yellow;
}

meter[value='3']::-moz-meter-bar {
  background: orange;
}

meter[value='4']::-moz-meter-bar {
  background: green;
}

.main {
  display: flex;
  flex-direction: column;
  place-items: center start;
}

.logo {
  height: 2.25rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.error {
  margin-top: 5px;
  color: var(--pico-del-color);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card > div {
  padding: 0.5rem;
}

.card span {
  color: rgb(170 153 153 / 60%);
}

.card > img {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.card:hover {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 6px 2px rgb(241 237 237);
}
